<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  
  
<system.identityModel xdt:Transform="SetAttributes" configSource="Configuration\addison51\identitymodel.config" /><system.identityModel.services xdt:Transform="SetAttributes" configSource="Configuration\addison51\identitymodel.services.config" /></configuration>