<system.identityModel>
	<identityConfiguration saveBootstrapContext="true">
		<audienceUris>
			<add value="https://addison.addison51.de/"/>
		</audienceUris>
		<certificateValidation certificateValidationMode="None" />
		<issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<trustedIssuers>
				<add thumbprint="4045A8DAA512573FFA359964D595022892A2A16A" name="CN=PortalSigning" />
			</trustedIssuers>
		</issuerNameRegistry>
	</identityConfiguration>
</system.identityModel>


