<system.identityModel>
	<identityConfiguration saveBootstrapContext="true">
		<audienceUris>
			<add value="https://addison.addison51.de/"/>
			<add value="https://services.addison51.de/Servicehosts/tokenserver/resources"/>
		</audienceUris>
		<certificateValidation certificateValidationMode="None" />
		<issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<trustedIssuers>
				<add thumbprint="6B7ACC520305BFDB4F7252DAEB2177CC091FAAE1" name="CN=idsrv3test" />
				<add thumbprint="4045A8DAA512573FFA359964D595022892A2A16A" name="CN=PortalSigning" />
			</trustedIssuers>
		</issuerNameRegistry>
	</identityConfiguration>
</system.identityModel>


