<system.identityModel.services>
	<federationConfiguration>
		<wsFederation passiveRedirectEnabled="false"
									requireHttps="true"
									persistentCookiesOnPassiveRedirects="false"
									issuer="https://services.portalbereich.de/servicehosts/identityserver"
									realm="https://addison.portalbereich.de/" />
		<!-- /issue/wstrust/mixed/username -->
		<cookieHandler mode="Default"
									 domain=".portalbereich.de"
									 hideFromScript="true"
									 name="FedAuth"
									 path="/"
									 requireSsl="false"
									 persistentSessionLifetime="60"/>
		<serviceCertificate>
			<certificateReference findValue="CN=PortalEncryption" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" />
		</serviceCertificate>
	</federationConfiguration>
</system.identityModel.services>